#!/usr/bin/env sh

set -x

# private key to deploy contracts
# export PRIVATE_KEY={{ obj.config.primaryAccount.privateKey }}
export PRIVATE_KEY="0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80"
export MNEMONIC={{ obj.config.primaryAccount.privateKey }}

# export heimdall id
export HEIMDALL_ID={{ obj.config.heimdallChainId }}

export DIR={{ obj.contracts.repositoryDir }}
echo "$DIR"

export SERVER_PORT={{ obj.serverPort }}

# cd matic contracts repo
cd {{ obj.contracts.repositoryDir }}

export ETHERSCANAPIKEY={{ obj.config.etherscanAPIKey }}
echo "$ETHERSCANAPIKEY"
echo "ETHERSCAN_API_KEY=$ETHERSCANAPIKEY" >> .env 
echo "HEIMDALL_ID='$HEIMDALL_ID'" >> .env

export PATH="$HOME/.foundry/bin:$PATH"

# bor contracts are deployed on child chain
# forge script scripts/deployment-scripts/deployContracts.s.sol:DeploymentScript --rpc-url http://localhost:9545 --private-key 0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80 --broadcast
#

forge script scripts/deployment-scripts/deployContracts.s.sol:DeploymentScript --rpc-url http://localhost:9545 --private-key $PRIVATE_KEY --broadcast

forge script scripts/deployment-scripts/drainStakeManager.s.sol:DrainStakeManagerDeployment --rpc-url http://localhost:9545 --private-key $PRIVATE_KEY --broadcast

forge script scripts/deployment-scripts/initializeState.s.sol:InitializeStateScript --rpc-url http://localhost:9545 --private-key $PRIVATE_KEY --broadcast

# forge script scripts/deployment-scripts/childContractDeployment.s.sol:ChildContractDeploymentScript --rpc-url http://localhost:9545 --private-key $PRIVATE_KEY --broadcast

# forge script scripts/deployment-scripts/syncChildStateToRoot.s.sol:SyncChildStateToRootScript --rpc-url http://localhost:9545 --private-key $PRIVATE_KEY --broadcast
