#!/usr/bin/env sh

set -x

export PATH="$HOME/.foundry/bin:$PATH"

SERVER_PORT={{ obj.serverPort }}
HEIMDALL_ID={{ obj.config.heimdallChainId }}
BOR_PRIVATE_KEY={{ obj.config.primaryAccount.privateKey }}

cd {{ obj.contracts.repositoryDir }}

export HEIMDALL_ID={{ obj.config.heimdallChainId }}
echo "HEIMDALL_ID='$HEIMDALL_ID'" >> .env

export DEPLOYER_PRIVATE_KEY=$BOR_PRIVATE_KEY
echo "DEPLOYER_PRIVATE_KEY=$BOR_PRIVATE_KEY" >> .env

forge script scripts/deployment-scripts/deployContracts.s.sol:DeploymentScript --rpc-url http://localhost:$SERVER_PORT --private-key $BOR_PRIVATE_KEY --broadcast

forge script scripts/deployment-scripts/drainStakeManager.s.sol:DrainStakeManagerDeployment --rpc-url http://localhost:$SERVER_PORT --private-key $BOR_PRIVATE_KEY --broadcast

forge script scripts/deployment-scripts/initializeState.s.sol:InitializeStateScript --rpc-url http://localhost:$SERVER_PORT --private-key $BOR_PRIVATE_KEY --broadcast

sleep 5