#!/usr/bin/env sh

set -x

export PATH="$HOME/.foundry/bin:$PATH"

SERVER_PORT={{ obj.serverPort }}
BOR_PRIVATE_KEY={{ obj.config.primaryAccount.privateKey }}

cd {{ obj.contracts.repositoryDir }}

forge script scripts/deployment-scripts/syncChildStateToRoot.s.sol:SyncChildStateToRootScript --rpc-url http://localhost:$SERVER_PORT --private-key $BOR_PRIVATE_KEY --broadcast

sleep 5