#!/usr/bin/env sh

set -x

export PATH="$HOME/.foundry/bin:$PATH"

FEE={{ obj.config.defaultFee }}
STAKE={{ obj.config.defaultStake }}
SERVER_PORT={{ obj.serverPort }}
ANVIL_PRIVATE_KEY={{ obj.deployerPrivateKey }}
BOR_ADDRESS={{ obj.config.primaryAccount.address }}
BOR_PRIVATE_KEY={{ obj.config.primaryAccount.privateKey }}

{% for acc in obj.config.accounts %}
cast send {{ acc.address }} --value 1000ether \
--rpc-url http://localhost:$SERVER_PORT \
--private-key $ANVIL_PRIVATE_KEY
sleep 5
{% endfor %}

cd {{ obj.contracts.repositoryDir }}

{% for acc in obj.config.accounts %}
forge script scripts/matic-cli-scripts/stake.s.sol:MaticStake \
--rpc-url http://localhost:$SERVER_PORT \
--private-key $BOR_PRIVATE_KEY \
--broadcast \
--sig "run(address,bytes,uint256,uint256)" \
{{ acc.address }} {{ acc.pub_key }} 10000000000000000000 10000000000000000000
sleep 5
{% endfor %}