#!/usr/bin/env sh

set -x

SERVER_PORT={{ obj.serverPort }}
DIR={{ obj.contracts.repositoryDir }}
ANVIL_PRIVATE_KEY={{ obj.defaultAnvilPrivateKey }}

# Matic contracts repo
cd $DIR

forge create contracts/common/lib/Common.sol:Common --rpc-url http://localhost:$SERVER_PORT --private-key $ANVIL_PRIVATE_KEY --broadcast

forge create contracts/root/predicates/TransferWithSigUtils.sol:TransferWithSigUtils --rpc-url http://localhost:$SERVER_PORT --private-key  $ANVIL_PRIVATE_KEY --broadcast

sleep 5