#!/usr/bin/env sh

set -x

# private key to deploy contracts
export PRIVATE_KEY={{ obj.config.primaryAccount.privateKey }}
export MNEMONIC={{ obj.config.primaryAccount.privateKey }}

# export heimdall id
export HEIMDALL_ID={{ obj.config.heimdallChainId }}

export DIR={{ obj.contracts.repositoryDir }}

export SERVER_PORT={{ obj.serverPort }}

# cd matic contracts repo
cd {{ obj.contracts.repositoryDir }}

export PATH="$HOME/.foundry/bin:$PATH"

sleep 5

forge script scripts/deployment-scripts/syncChildStateToRoot.s.sol:SyncChildStateToRootScript --legacy --rpc-url http://localhost:$SERVER_PORT --private-key $PRIVATE_KEY --broadcast

sleep 5
