#!/usr/bin/env sh

set -x

export PATH="$HOME/.foundry/bin:$PATH"

SERVER_PORT={{ obj.serverPort }}
DIR={{ obj.contracts.repositoryDir }}
ANVIL_PRIVATE_KEY={{ obj.defaultAnvilPrivateKey }}

# Matic contracts repo
cd $DIR

forge script scripts/deployment-scripts/syncChildStateToRoot.s.sol:SyncChildStateToRootScript --rpc-url http://localhost:$SERVER_PORT --private-key $ANVIL_PRIVATE_KEY --broadcast

sleep 5