#!/usr/bin/env sh

set -x

export PATH="$HOME/.foundry/bin:$PATH"

SERVER_PORT={{ obj.serverPort }}
ANVIL_PRIVATE_KEY={{ obj.deployerPrivateKey }}
BOR_ADDRESS={{ obj.config.primaryAccount.address }}
BOR_PRIVATE_KEY={{ obj.config.primaryAccount.privateKey }}

cast send $BOR_ADDRESS --value 1000ether --rpc-url http://localhost:$SERVER_PORT --private-key $ANVIL_PRIVATE_KEY

sleep 5

cd {{ obj.contracts.repositoryDir }}

forge create contracts/common/lib/Common.sol:Common --rpc-url http://localhost:$SERVER_PORT --private-key $BOR_PRIVATE_KEY --broadcast

forge create contracts/root/predicates/TransferWithSigUtils.sol:TransferWithSigUtils --rpc-url http://localhost:$SERVER_PORT --private-key $BOR_PRIVATE_KEY --broadcast

sleep 5