#!/usr/bin/env sh

set -x

export PATH="$HOME/.foundry/bin:$PATH"

# private key to deploy contracts
export PRIVATE_KEY={{ obj.config.primaryAccount.privateKey }}

# cd matic contracts repo
cd {{ obj.contracts.repositoryDir }}

# We use --legacy here so that the transaction doesn't fail on Bor with low transaction fees,
# and 8545 because we want to deploy the contract on the Bor (L2) and not on the Anvil (L1).
forge script --legacy scripts/deployment-scripts/childContractDeployment.s.sol:ChildContractDeploymentScript --rpc-url http://localhost:8545 --private-key $PRIVATE_KEY --broadcast