#!/usr/bin/env sh

set -x

# Set up default stake and fee values
DEPLOYER_PRIVATE_KEY="0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80"
STAKE={{ obj.config.defaultStake }}
FEE={{ obj.config.defaultFee }}

export SERVER_PORT={{ obj.serverPort }}


# Navigate to the matic contracts directory
cd {{ obj.contracts.repositoryDir }}

# Loop over accounts and run the stake script for each
{% for acc in obj.config.accounts %}
# forge script scripts/stake.s.sol --rpc-url http://127.0.0.1:9545 \
  # --broadcast --private-key {{ acc.privateKey }} \
  # --constructor-args {{ acc.address }} $STAKE $FEE
  forge script scripts/matic-cli-scripts/Stake.s.sol:MaticStake --rpc-url http://localhost:$SERVER_PORT --private-key $DEPLOYER_PRIVATE_KEY --broadcast --sig "run(address,bytes,uint256,uint256)" {{ acc.address }} {{ acc.publicKey }} 10000000000000000000 10000000000000000000
sleep 10
{% endfor %}
