#!/usr/bin/env sh

set -x

SERVER_PORT={{ obj.serverPort }}
DIR={{ obj.contracts.repositoryDir }}
HEIMDALL_ID={{ obj.config.heimdallChainId }}
ANVIL_PRIVATE_KEY={{ obj.defaultAnvilPrivateKey }}

# Matic contracts repo
cd $DIR

echo "DEPLOYER_PRIVATE_KEY=$ANVIL_PRIVATE_KEY" >> .env
echo "HEIMDALL_ID='$HEIMDALL_ID'" >> .env

forge script scripts/deployment-scripts/deployContracts.s.sol:DeploymentScript --rpc-url http://localhost:$SERVER_PORT --private-key $ANVIL_PRIVATE_KEY --broadcast

forge script scripts/deployment-scripts/drainStakeManager.s.sol:DrainStakeManagerDeployment --rpc-url http://localhost:$SERVER_PORT --private-key $ANVIL_PRIVATE_KEY --broadcast

forge script scripts/deployment-scripts/initializeState.s.sol:InitializeStateScript --rpc-url http://localhost:$SERVER_PORT --private-key $ANVIL_PRIVATE_KEY --broadcast

sleep 5