#!/usr/bin/env sh

set -x

# private key to deploy contracts
export ANVIL_ACC={{ obj.deployerPrivateKey }}
export PRIVATE_KEY={{ obj.config.primaryAccount.privateKey }}
export MNEMONIC={{ obj.config.primaryAccount.privateKey }}

# export heimdall id
export HEIMDALL_ID={{ obj.config.heimdallChainId }}

export DIR={{ obj.contracts.repositoryDir }}
echo "$DIR"

export SERVER_PORT={{ obj.serverPort }}

# cd matic contracts repo
cd {{ obj.contracts.repositoryDir }}

export PATH="$HOME/.foundry/bin:$PATH"


 forge create --rpc-url http://localhost:$SERVER_PORT --private-key $ANVIL_ACC contracts/common/lib/Common.sol:Common --broadcast

forge create --rpc-url http://localhost:$SERVER_PORT --private-key  $ANVIL_ACC contracts/root/predicates/TransferWithSigUtils.sol:TransferWithSigUtils --broadcast

cast send --rpc-url http://localhost:$SERVER_PORT --private-key $ANVIL_ACC {{ obj.config.primaryAccount.address }} --value 1000ether

sleep 10
