#!/usr/bin/env sh

set -x

export PATH="$HOME/.foundry/bin:$PATH"

DATA_DIR={{ obj.dbDir }}
MNEMONIC="test test test test test test test test test test test junk"
DERIVATION_PATH="m/44'/60'/0'/0/"

anvil \
--host 0.0.0.0 \
--port 9545 \
--mnemonic $MNEMONIC \
--derivation-path $DERIVATION_PATH \
--balance 100000 \
--state $DATA_DIR \
--block-time 2 \
--gas-price 1 \
--gas-limit 1000000000000 \
--disable-code-size-limit