#!/usr/bin/env sh

set -x

DIR={{ obj.contracts.repositoryDir }}
PRIVATE_KEY={{ obj.config.primaryAccount.privateKey }}

# Matic contracts repo
cd $DIR

forge script --legacy scripts/deployment-scripts/childContractDeployment.s.sol:ChildContractDeploymentScript --rpc-url http://localhost:8545 --private-key $PRIVATE_KEY --broadcast

sleep 5