#!/usr/bin/env sh

set -x

HEIMDALL_HOME_DIR={{ obj.heimdallDataDir }}
BUILD_DIR={{ obj.buildDir }}

$BUILD_DIR/heimdalld --home $HEIMDALL_HOME_DIR start --chain=$HEIMDALL_HOME_DIR/config/genesis.json --api.address "tcp://0.0.0.0:1317" --bridge --all --rest-server
