# 1. Copy this file to secret.tfvar (e.g. `cp secret.tfvars.example secret.tfvars`)
# 2. Modify secret.tfvars by replacing the following with the list of IPs you want to allow
# 3. For Polygon employees, these would be Bastillion and VPN IP addresses
# 4. If you don't know what are Bastillion and VPN IP addresses, please ask the PoS team (ref. mardizzone@polygon.technology)
# NOTE for Polygon employees: Do NOT use "0.0.0.0/0" for security reasons, otherwise the admin port will be open to the Internet!

SG_CIDR_BLOCKS=["1.2.3.4/0", "5.6.7.8/0"]
