#!/usr/bin/env sh

NODE_DIR=$HOME/node
BOR_HOME=/var/lib/bor
LOG_HOME=$HOME/logs

USER=$(whoami)

# create heimdall file
sudo mkdir -p $BOR_HOME $LOG_HOME

# copy node directories to home directories
sudo cp -rf $NODE_DIR/bor/* $BOR_HOME/

# setup bor
BOR_DATA_DIR=$BOR_HOME/data

# copy static nodes from json to toml
STATICNODES=$(cat node/bor/static-nodes.json)
sed -i "s%.*static-nodes =.*%static-nodes = $(echo $STATICNODES)%g" $NODE_DIR/bor-config.toml

# copy bor files
sudo mkdir -p $BOR_DATA_DIR/bor;
sudo cp $NODE_DIR/bor-config.toml $BOR_HOME/config.toml
sudo cp $NODE_DIR/bor/nodekey $BOR_DATA_DIR/bor/
sudo cp $NODE_DIR/bor/static-nodes.json $BOR_DATA_DIR/
sudo cp $NODE_DIR/bor/static-nodes.json $BOR_DATA_DIR/bor/

sudo chown -R $USER $BOR_HOME