#!/usr/bin/env sh

set -x

NODE_DIR=/root/.bor
DATA_DIR=/root/.bor/data

ADDRESSES=({% for s in obj.signerDumpData %}
  "{{ s.address }}"{% endfor %}
)

INDEX=$1;
ADDRESS=${ADDRESSES[$INDEX]};

NODE_DIR=/root/.bor
DATA_DIR=/root/.bor/data

docker compose run --service-ports -d --name bor$INDEX --entrypoint bash bor$INDEX -c "
touch /root/logs/bor.log
bor server \
  --chain=$NODE_DIR/genesis.json \
  --identity matic-cli \
  --datadir $DATA_DIR \
  --port 30303 \
  --bor.heimdall http://heimdall$INDEX:1317 \
  --http --http.addr '0.0.0.0' \
  --ws --ws.addr '0.0.0.0' --ws.port 8546 --ws.api 'eth,txpool,net,web3,bor' \
  --http.vhosts '*' \
  --http.corsdomain '*' \
  --ws.origins '*' \
  --http.port 8545 \
  --ipcpath $DATA_DIR/bor.ipc \
  --http.api 'personal,eth,net,web3,txpool,miner,admin,bor,debug' \
  --bor.logs=true \
  --syncmode 'full' \
  --miner.gaslimit '2000000000' \
  --txpool.nolocals \
  --txpool.accountslots '128' \
  --txpool.globalslots '20000' \
  --txpool.lifetime '0h16m0s' \
  --unlock $ADDRESS \
  --miner.etherbase $ADDRESS \
  --disable-bor-wallet=false \
  --keystore $NODE_DIR/keystore \
  --password $NODE_DIR/password.txt \
  --allow-insecure-unlock \
  --mine > /root/logs/bor.log 2>&1 &
tail -f /root/logs/bor.log
"
