#!/usr/bin/env sh

set -x

# copy static nodes from json to toml
STATICNODES=$(cat node/bor/static-nodes.json)
sed -i "s%.*static-nodes =.*%static-nodes = $(echo $STATICNODES)%g" $NODE_DIR/docker-bor-config.toml

for i in {0..{{ obj.totalNodes - 1 }}}
do
  NODE_DIR=/root/var/lib/bor
  DATA_DIR=/root/var/lib/bor/data
  docker compose run --rm --entrypoint bash bor$i -c "
mkdir -p $DATA_DIR/bor;
cp $NODE_DIR/nodekey $DATA_DIR/bor/;
cp $NODE_DIR/static-nodes.json $DATA_DIR/bor/;
cp $NODE_DIR/docker-bor-config.toml $NODE_DIR/config.toml;
"
done

echo "Setup done!"
