#!/usr/bin/env sh

INDEX=$1

docker-compose run -d --service-ports --name heimdall$INDEX heimdall$INDEX sh -c "
heimdalld start > ./logs/heimdalld.log &
heimdalld rest-server > ./logs/heimdalld-rest-server.log &
sleep 5
bridge start --all > ./logs/bridge.log &

# tail logs
tail -f ./logs/heimdalld.log ./logs/heimdalld-rest-server.log ./logs/bridge.log
"
