#!/usr/bin/env sh

set -x

DATA_DIR={{ obj.dbDir }}
SERVER_PORT={{ obj.serverPort }}

docker compose run -d --service-ports --name anvil anvil --host 0.0.0.0 --port 9545 --state /data/anvil-db --balance 1000000 --disable-block-gas-limit --disable-code-size-limit