networks:
  devnet-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.1.0/24

services:
  anvil:
    image: ghcr.io/foundry-rs/foundry:latest
    networks:
      - devnet-network
    volumes:
      - ./data:/data
    ports:
      - "9545:9545"
    entrypoint: ["anvil"]

{% for node in range(0, obj.totalNodes) %}
  rabbit{{ node }}:
    image: "rabbitmq:3-management"
    container_name: rabbit{{ node }}
    networks:
      - devnet-network

  heimdall{{ node }}:
    {% if obj.config.heimdallDockerBuildContext|length %}
      {% if node == 0 %}
    build:
      context: {{ obj.config.heimdallDockerBuildContext }}
      dockerfile: Dockerfile
    image: local/heimdall
      {% else %}
    image: local/heimdall
      {% endif %}
    {% else %}
    image: "maticnetwork/heimdall:{{ obj.config.heimdallBranch }}"
    {% endif %}
    container_name: heimdall{{ node }}
    depends_on:
      - rabbit{{ node }}
    networks:
      - devnet-network
    volumes:
      - ./devnet/node{{ node }}/heimdalld:/var/lib/heimdall
      - ./logs/node{{ node }}/heimdall:/heimdall/logs
    {% if node == 0 %}
    ports:
      - "1317:1317"
      - "26657:26657"
    {% endif %}

  bor{{ node }}:
    {% if obj.config.borDockerBuildContext|length %}
      {% if node == 0 %}
    build:
      context: {{ obj.config.borDockerBuildContext }}
      dockerfile: Dockerfile
    image: local/bor
      {% else %}
    image: local/bor
      {% endif %}
    {% else %}
    image: "maticnetwork/bor:{{ obj.config.borBranch }}"
    {% endif %}

    container_name: bor{{ node }}
    # depends_on:
    #  - heimdall{{ node }}
    networks:
      devnet-network:
          ipv4_address: 172.20.1.{{ node + 100 }}
    environment:
      - HEIMDALL_URL=http://heimdall{{ node }}:1317
    volumes:
      - ./devnet/node{{ node }}/bor:/var/lib/bor
      - ./logs/node{{ node }}/bor:/logs
    {% if node == 0 %}
    ports:
      - "8545:8545"
      - "8546:8546"
    {% endif %}
{% endfor %}
