#!/usr/bin/env sh

set -x

for i in {0..{{ obj.totalNodes - 1 }}}
do
  NODE_DIR=$HOME/node
  DATA_DIR=/var/lib/bor/data
  docker compose run --rm --entrypoint bash bor$i -c "
sudo mkdir -p $DATA_DIR/bor;
sudo cp $NODE_DIR/bor/nodekey $DATA_DIR/bor/;
sudo cp $NODE_DIR/bor/static-nodes.json $DATA_DIR/bor/;
"
done

echo "Setup done!"
