#!/usr/bin/env sh

set -x #echo on

DATA_DIR={{ ganache.dbName }}

docker compose run -d --service-ports --name ganache ganache --hardfork istanbul \
  --blockTime 1 \
  --db /root/data/$DATA_DIR \
  {% for acc in obj.config.accounts %}--account {{ acc.privateKey }},1000000000000000000000 {% endfor %}\
  --gasLimit 8000000 \
  --gasPrice 0 \
  -p 9545 -h 0.0.0.0
