version: "3.3"

networks:
  devnet-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.1.0/24

services:
  ganache:
    image: "trufflesuite/ganache-cli:latest"
    container_name: ganache
    networks:
      - devnet-network
    volumes:
      - ./data:/root/data
    ports:
      - "9545:9545"

  geth:
    image: ethereum/client-go:v1.10.6
    command:
      --http
      --datadir "/gethdata"
      --dev
      --dev.period 0
      --rpc.txfeecap 0
      --rpc.gascap 0
      --rpc
      --miner.gaslimit 8000000000000
      --miner.gasprice 0
      --gpo.ignoreprice 0
      --verbosity 5
      --rpcaddr "0.0.0.0"
      --rpc.txfeecap 0
      --gpo.maxprice 500000000000000
      --gpo.percentile 99
      --txpool.pricelimit 0
      --rpc.allow-unprotected-txs
      --allow-insecure-unlock
      --rpcapi eth,net,web3,personal
      --rpcvhosts *
    ports:
      - "30303:30303"
      - "30303:30303/udp"
      - "9545:8545"
      - "9546:8546"
    volumes:
      - ./../gethdata:/gethdata
    networks:
      - devnet-network

{% for node in range(0, obj.totalNodes) %}
  rabbit{{ node }}:
    image: "rabbitmq:3-management"
    container_name: rabbit{{ node }}
    networks:
      - devnet-network

  heimdall{{ node }}:
    image: "maticnetwork/heimdall:{{ obj.config.heimdallBranch }}"
    container_name: heimdall{{ node }}
    depends_on:
      - rabbit{{ node }}
    networks:
      - devnet-network
    volumes:
      - ./devnet/node{{ node }}/heimdalld:/root/.heimdalld
      - ./devnet/node{{ node }}/heimdallcli:/root/.heimdallcli
      - ./logs/node{{ node }}/heimdall:/root/heimdall/logs
    {% if node == 0 %}
    ports:
      - "1317:1317"
      - "26657:26657"
    {% endif %}

  bor{{ node }}:
    image: "maticnetwork/bor:{{ obj.config.borBranch }}"
    container_name: bor{{ node }}
    # depends_on:
    #  - heimdall{{ node }}
    networks:
      devnet-network:
          ipv4_address: 172.20.1.{{ node + 100 }}
    environment:
      - HEIMDALL_URL=http://heimdall{{ node }}:1317
    volumes:
      - ./devnet/node{{ node }}/bor:/root/.bor
      - ./logs/node{{ node }}/bor:/root/logs
    {% if node == 0 %}
    ports:
      - "8545:8545"
      - "8546:8546"
    {% endif %}
{% endfor %}
