#!/usr/bin/env sh

docker-compose run -d --service-ports --name heimdall0 heimdall0 bash -c "
touch /root/heimdall/logs/heimdalld.log & touch /root/heimdall/logs/bridge.log &
heimdalld start > /root/heimdall/logs/heimdalld.log 2>&1 &
sleep 60 && bridge start --all > /root/heimdall/logs/bridge.log 2>&1 &
tail -f /root/heimdall/logs/heimdalld.log /root/heimdall/logs/bridge.log
"
