#!/usr/bin/env sh

docker-compose run -d --service-ports --name heimdall0 heimdall0 bash -c "
heimdalld start > ./logs/heimdalld.log 2>&1 &
heimdalld rest-server > ./logs/heimdalld-rest-server.log 2>&1 &
sleep 60 && bridge start --all > ./logs/bridge.log 2>&1 &
tail -f ./logs/heimdalld.log ./logs/heimdalld-rest-server.log ./logs/bridge.log
"
