#!/usr/bin/env sh

set -x #echo on

# private key to deploy contracts
export PRIVATE_KEY={{ obj.config.privateKey }}

# export heimdall id
export HEIMDALL_ID={{ obj.config.heimdallChainId }}

# cd matic contracts repo
cd {{ obj.contracts.repositoryDir }}

# migrations
mv migrations dev-migrations && cp -r deploy-migrations migrations

# root contracts are deployed on base chain
npm run truffle:migrate -- --reset --to 3 --network development