### Ganache

By default, contracts are deployed.

Contract addresses json: {{ obj.contracts.contractAddressesPath }} 
Ganache DB path: {{ obj.dbDir }}

**To start ganache**

```bash
bash ganache-start.sh
```

##### Setup

Note that, by default, it doesn't need to setup.

**To clean current setup**

```bash
bash ganache-clean.sh
```

**To start ganache**

```bash
bash ganache-start.sh
```

**To deploy on ganache**

```bash
bash ganache-deployment.sh
```

**To stake with default address**

```bash
bash ganache-stake.sh
```

This will stake {{ obj.config.defaultStake }} tokens for {{ obj.config.address }}