#!/usr/bin/env sh

set -x #echo on

# private key to deploy contracts
export PRIVATE_KEY={{ obj.config.privateKey }}
export MNEMONIC={{ obj.config.privateKey }}

# export heimdall id
export HEIMDALL_ID={{ obj.config.heimdallChainId }}

# cd matic contracts repo
cd {{ obj.contracts.repositoryDir }}

# bor contracts are deployed on child chain
npm run truffle:migrate:dev:bor -- --reset -f 5 --to 5
