#!/usr/bin/env sh

set -x

# private key to deploy contracts
export PRIVATE_KEY={{ obj.config.primaryAccount.privateKey }}
export MNEMONIC={{ obj.config.primaryAccount.privateKey }}

# export heimdall id
export HEIMDALL_ID={{ obj.config.heimdallChainId }}

# cd matic contracts repo
cd {{ obj.contracts.repositoryDir }}

# root contracts are deployed on base chain
npm run truffle:migrate:dev -- -f 6 --to 6 --compile-none
