#!/usr/bin/env sh

set -x

ADDRESS={{ obj.config.primaryAccount.address }}
BOR_CHAIN_ID={{ obj.config.borChainId }}

if [ -z "$ADDRESS" ]
  then
    echo "Address is required as first argument"
  exit 1
fi

if [ -z "$BOR_CHAIN_ID" ]
  then
    echo "Chain id is required as second argument"
  exit 1
fi

BUILD_DIR={{ obj.buildDir }}/bin
DATA_DIR={{ obj.config.dataDir }}
BOR_DATA_DIR={{ obj.borDataDir }}
GENESIS_PATH={{ obj.genesis.borGenesisFilePath }}

mkdir -p $DATA_DIR/logs

$BUILD_DIR/bor --datadir $BOR_DATA_DIR \
  --port 30303 \
  --http --http.addr '0.0.0.0' \
  --http.vhosts '*' \
  --http.corsdomain '*' \
  --http.port 8545 \
  --http.api 'eth,net,web3,txpool' \
  --ipcpath $BOR_DATA_DIR/bor.ipc \
  --networkid $BOR_CHAIN_ID \
  --miner.gasprice '0' \
  --keystore $DATA_DIR/keystore \
  --unlock $ADDRESS \
  --password $DATA_DIR/password.txt \
  --allow-insecure-unlock \
  --maxpeers 200 \
  --metrics \
  --pprof --pprof.port 7071 --pprof.addr '0.0.0.0' \
  --bor.logs true \
  --mine
